
body {
  font-size: 14px;
  font-family: Verdana, sans-serif;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

header {
  background-color: black;
  color: white;
}

footer {
  margin: 10px;
  font-style: italic;
}

main {
  background-color: #f9f5ff;
}

/* GRID-BASED LAYOUT */
body #root {
  display: grid;
  min-height: 100vh;
  margin: 0;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
}

p {
  margin-top: 0.5em;
}

header {
  grid-row: 1;
  grid-column: 1;
  height: 12vw;
  min-height: 50px;
  max-height: 80px;
}

main {
  grid-row: 2;
  grid-column: 1;
  padding: 0 0;
}

#dropdown {
  position: absolute;
  z-index: 10;
  width: 30vw;
  padding: 10px;
  background-color: #000;
  font-size: 4vw;
  color: white;
  border-style: none solid solid none;
  border-color: gray;
  border-width: 1px;
}

#stream {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  width: 100%;
}

footer {
  grid-row: 3;
  grid-column: 1;
}

.post {
  padding-bottom: 10px;
  padding-top: 6px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: #4e5b82 2px 2px 8px 0px;
  margin-bottom: 40px;
  background-color: white;
}

.read-section {
  padding: 5px;
}

.post .post-header {
  text-align: center;
  margin: 5px;
}

.post h2 {
  font-size: 4.5vw;
}

.img {
  position: relative;
}

.location-text {
  color: black;
  position: absolute;
  bottom: -10px;
  left: 0px;
  box-sizing: border-box;
  background-color: #d0d0d075;
  width: 100%;
  padding: 3px;
  font-size: 16px;
  font-style: italic;
  text-shadow: 1px 1px #7d7d7d;
}

.square-image {
  width: 100%;
}

.post {
  position: relative;
}

.comments-container h3 {
  font-size: 16px;
  background-color: #d0d0d075;
  padding: 4px;
  font-size: 16px;
  font-style: italic;
  text-shadow: 1px 1px #7d7d7d;
}

.submit {
  color: white;
  background-color: #231dce;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #231dce;
}

.submit:hover {
  color: gray;
}

.more-text {
  position: absolute;
  bottom: 0px;
  right: 10px;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  background-color: #d6d4d4
}

#subtitle {
  font-style: italic;
}

.add-comment {
  font-size: 14px;
  padding-left: 5px;
}

input {
  background: none;
  border: 1px solid grey;
}

input:focus {
  background: white;
  border: 1px solid grey;
}

input, textarea {
  background-color: whitesmoke;
  font-family: Verdana, sans-serif;
  border-color: gray;  
  box-sizing: border-box;
  margin-bottom: 5px;
  border-radius: 3px;
}

textarea {
  resize: none;
  width: 70%;
}

.add-comment label {
  margin-right: 3px;
  display: inline-table;
  vertical-align: top;
  width: 75px;
  text-align: right;
}

.comment h4 {
  font-size: 14px;
  margin-bottom: 1px;
}

.time {
  font-size: 12px;
  font-style: italic;
  color: #808080;
  margin-left: 10px;
}

.content {
  font-size: 13px;
  color: #4e4e4e;
}

/**
 * A div that needs to be expanded by a Read More button will have this class.
 */
.read-more-container {
  position: relative;
}

.title-text {
  display: inline;
}

.star-post-button {
  border: none;
  background-color: transparent;
}

.stars {
  font-size: 13px;
  text-align: right;
  padding-right: 10px;
}

#star-image {
  margin-left: 2px;
  padding-bottom: 5px;
  vertical-align: middle;
  width: 23px;
  height: 23px;
}

header h1 {
  font-size: 4.5vw;
}

header a:hover {
  cursor: pointer;
}

/**
 * Makes links in header not appear different
 */
header a:link, #dropdown a:link {
  text-decoration: inherit;
  color: inherit;
}

/**
 * Makes links in header not appear different
 */
header a:visited, #dropdown a:visited {
  text-decoration: inherit;
  color: inherit;
}

#dropdown a:hover {
  color: gray;
}

header {
  display: flex;
}

#humburger {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 55px;
  max-width: 12%;
  flex-basis: auto;
  flex-grow: 1;
  padding-left: 1.5%;
  padding-right: 1.8%;
  padding-bottom: 0.5%;
  padding-top: 0.5%;
}

#header-text {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

#header-text h1 {
  width: 100%;
}

.bar {
  box-sizing: border-box;
  height: 15%;
  margin: auto;
  width: 100%;
  background-color: white;
}

@media screen and (min-width:1000px) {
  header h1 {
    font-size: 50px;
  }

  .post h2 {
    font-size: 40px;
  }

  #humburger {
    max-width: 120px;
  }

}

@media only screen and (max-width:600px) {
  #dropdown {
    width: 55vw;
    font-size: 10vw;
  }

}

button.hide {
  display: none;
}

#app {
  display: inherit;
}

iframe {
  width: 100%;
}

iframe, .img {
  margin-top: .5em;
  margin-bottom: .5em;
}

.loading {
  text-align: center;
  padding: 20px;
}

.submit-button {
  background-color: #464584;
  color: white;
  border-radius: 7px;
  font-size: 15px;
  padding: 5px;
  font-weight: bold;  
}

h3.comments-header {
  background-color: #464584;
  color: white;
  text-shadow: 1px 1px #2b2b2b;
}

