<!DOCTYPE html>
<html>

<head>
    {% include "google_analytics.html" %}
    <title>
    	{% block title %}
    	Taxeedee
    	{% endblock title %}
    </title>
    {% include "material_styles.html" %}
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    {% block header_style %}
    {% endblock header_style %}
</head>
<body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <a id="taxeedee-anchor" href="./" ><span class="mdl-layout-title">Taxeedee: The Adventures of Olga and Jack</span></a>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    {% include "navigation.html" %}
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Taxeedee</span>
            <nav class="mdl-navigation">
                {% include "navigation.html" %}
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                {% block page_content %}
                {% endblock page_content %}
            </div>
        </main>
    </div>
    {% include "footer.html" %}
</body>

</html>