body {
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: black;
  color: white;
}

footer {
  margin: 10px;
  font-style: italic;
}

main {
  background-color: #f9f5ff;
}

/* GRID-BASED LAYOUT */
body {
  display: grid;
  min-height: 100vh;
  margin: 0;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
}

header {
  grid-row: 1;
  grid-column: 1;
}

main {
  grid-row: 2;
  grid-column: 1;
  padding: 0 0;
}

#humburger {
  position: absolute;
  width: 5.5vw;
  height: 5vw;
  margin-top: 4vw;
  margin-left: 1vw;
}

#dropdown {
  position: absolute;
  z-index: 10;
  width: 30vw;
  padding: 10px;
  background-color: #000;
  font-size: 4vw;
  color: white;
  border-style: none solid solid none;
  border-color: gray;
  border-width: 1px;
}

a:hover{
  color: gray;
}


#stream {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  width: 100%;
}

footer {
  grid-row: 3;
  grid-column: 1;
}

header {
  text-align: center;
  font-size: 2.5vw;
}

.post {
  padding-bottom: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: #9cafe6 2px 2px 8px 0px;
}

.text {
  padding: 5px;
}

.post .post-header {
  text-align: center;
  margin: 5px;
}

.post h2 {
  font-size: 5vw;  
}

.img {
  position: relative;
}

.location-text {
  position: absolute;
  bottom: -5%;
  left: 0px;
  box-sizing: border-box;
  background-color: #d0d0d075;
  width: 100%;
  padding: 5px;
  font-size: 4vw;
  font-style: italic;
  text-shadow: 1px 1px #7d7d7d;
}

.square-image {
  width: 100%;
}

.post {
  position: relative;
}

.comments-container h3{
  font-size: 16px;
  background-color: #d0d0d075;
  padding: 4px;
  font-size: 4vw;
  font-style: italic;
  text-shadow: 1px 1px #7d7d7d;
}

.submit{
  color: white;
  background-color: #231dce;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #231dce;
}

.more-text {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  background-color: #d6d4d4
}

#subtitle {
  font-style: italic;
}

.add-comment{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.comment h4 {
  font-size: 14px;
  margin-bottom: 1px;
  font-family: Verdana, sans-serif;
}

.time {
  font-size: 12px;
  font-style: italic;
  color: #808080;
  margin-left: 10px;
  font-family: 'Open Sans', sans-serif;
}

.content {
  font-size: 13px;
  color: #4e4e4e;
  font-family: Verdana, sans-serif;
}

/**
 * A div that needs to be expanded by a Read More button will have this class.
 */
.read-more-container {
  position: relative;
}

.title-text {
  display: inline;
}